

/* custom properties */
:root {
  /* colors */
  --clr-primary-dark: #495E57;
  --clr-primary-light: #F4CE14;

  --clr-secondary-dark: #EE9972;
  --clr-secondary-light: #FBDABB;

  --clr-highlight-dark: #333333;
  --clr-highlight-light: #EDEFEE;


  /* font-sizes */
  --fs-600: 2.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;

  /* font families */
  --ff-primary: "Markazi Text", serif;
  --ff-secondary: "Karla", sans-serif;
}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  line-height: 1.5;
  min-height: 100vh;
  font-weight: normal;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

li {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 61.625rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

/* colors */

.bg-dark { background-color: var(--clr-primary-dark);}
.bg-white { background-color: var(--clr-highlight-light)}

.text-dark { color: var(--clr-primary-dark)}
.text-accent { color: var(--clr-primary-light)}
.text-white { color: var(--clr-highlight-light)}

/* typography */
.ff-serif { font-family: var(--ff-primary)}
.ff-sans { font-family: var(--ff-secondary)}

.uppercase { text-transform: uppercase;}

.fs-600 { font-size: var(--fs-600); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }

